.product-card__name::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.product-card__name--available::before {
  background-color: green;
}
.product-card__name--not-available::before {
  background-color: red;
}
